$color-primario: #ade542;
$color-secundario: #264357;
$color-navbar: #1d3342;
$text-color: white;
/* base/base */
body {
  background-color: $color-secundario;
  color: $text-color;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
//------- Transiciones --------
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#app {
  .bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}

.container {
  margin-top: 20pt;
}
.btn {
  background-color: $color-primario;
  color: $color-navbar;
  border-radius: 15px;
}
.btn:hover {
  box-shadow: 0px 0px 4px 1.5px #d7c7c798;
}
