/* components/card */

#carta {
  .card {
  color: black;
  background: $color-primario;
  border-radius: 15px;
  margin-top: 25px;
  
  }
  
  .card-title{
    background: $color-secundario;
    color: white;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    
  }
}
#Image{
  h3{
    color: $color-primario;
    text-align: left;
    margin-left: 20%;
    margin-bottom: -25px;
    font-weight: bold;
    @media only screen and (max-width: 576px) and (orientation: portrait) {
      width: 85%;
      margin-left: 8%;
    }
  }
.card{
  margin-left: 20%;
  width: 60%;
  box-shadow: 0px 0px 10px black;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px !important;

  @media only screen and (max-width: 576px) and (orientation: portrait) {
    width: 85%;
    margin-left: 8%; 
  }

  #img{
    border-radius: 15px;
  }
  #text{
    color:$text-color;
    text-align: right;
    top: 75%;
    font-size: 1.3em;
    background: #03394993;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    p{
      width: 100%;
      margin-top: 0px;
     
    }

    @media only screen and (max-width: 992px) and (orientation: landscape) {
      color:$text-color;
      font-size: 12px;
    }
    @media only screen and (max-width: 576px) and (orientation: portrait) {
      color: $text-color;
      font-size: 8px;
      top: 55%;
      
    }
  }
}
.card:hover{
  box-shadow: 0px 0px 20px black;
}
}
.card:hover{
  box-shadow: 0px 0px 10px black;
}