/* components/form */

.form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10pt;
  border-radius: 15px;
  .form-group {
    label {
      background-color: rgba(255, 255, 255, 0);
      color: $text-color;
    }
  }
  button {
    margin-left: 10pt;
    margin-right: 10pt;
  }
}