/* components/iframe */

.iframe {
  background-color: #fbfdf938;
  border-radius: 20px;
  padding: 15px;
  .mapa {
    border-radius: 20px;
    width: 80%;
    @media only screen and (max-width: 992px) and (orientation: landscape) {
      
    }
    @media only screen and (max-width: 576px) and (orientation: portrait) {
      width: 102%;
      margin-left: -3px;
      margin-top: 10px;
  }
}
}