/* base/base */
body {
  background-color: #264357;
  color: white;
  background: linear-gradient(#264653, #1d607bb3);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

#app .bounce-enter-active {
  animation: bounce-in 0.5s; }

#app .bounce-leave-active {
  animation: bounce-in 0.5s reverse; }

@keyframes bounce-in {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.5); } }

.container {
  margin-top: 20pt;
  border-radius: 15px; }
  .container #fondo {
    width: 70%;
    background-color: #fbfdf938;
    box-shadow: 0px 0px 10px 5px #1d3342; }
    .container #fondo p {
      text-align: justify;
      width: 80%;
      margin-left: 10%; }
    .container #fondo ol {
      margin-left: 10%;
      text-align: justify;
      width: 60%; }
    .container #fondo ul {
      margin-left: 10%;
      text-align: justify;
      width: 60%; }

.btn {
  background-color: #ade542;
  color: #1d3342;
  border-radius: 15px; }

.btn:hover {
  box-shadow: 0px 0px 4px 1.5px #d7c7c798; }

/* components/navbar */
.navbar-toggler {
  width: 50px;
  height: 50px;
  position: relative;
  top: -12px; }

.nav {
  padding: 20px 30px 0px 30px;
  background: #1d3342 !important; }

.nav-item {
  padding: 0px; }

.nav a {
  font-weight: bold;
  color: #D1D7C7 !important; }

.nav a.router-link-exact-active {
  color: #A3FF15 !important; }

.menu {
  margin-right: 50px; }

.logout {
  width: 50px;
  margin: 0px !important;
  position: absolute;
  top: 0px;
  left: 150%;
  font-size: 1.2em;
  color: #1d3342 !important;
  background: white; }

.logout:hover {
  box-shadow: 0px 0px 5px 1px #ade542; }

.logout:active {
  background: #ade542;
  transition: 0.4s; }

/* components/form */
.form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10pt;
  border-radius: 15px; }
  .form .form-group label {
    background-color: rgba(255, 255, 255, 0);
    color: white; }
  .form button {
    margin-left: 10pt;
    margin-right: 10pt; }

/* components/card */
#carta .card {
  color: black;
  background: #ade542;
  border-radius: 15px;
  margin-top: 25px; }

#carta .card-title {
  background: #264357;
  color: white;
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px; }

#Image h3 {
  color: #ade542;
  text-align: left;
  margin-left: 20%;
  margin-bottom: -25px;
  font-weight: bold; }
  @media only screen and (max-width: 576px) and (orientation: portrait) {
    #Image h3 {
      width: 85%;
      margin-left: 8%; } }

#Image .card {
  margin-left: 20%;
  width: 60%;
  box-shadow: 0px 0px 10px black;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px !important; }
  @media only screen and (max-width: 576px) and (orientation: portrait) {
    #Image .card {
      width: 85%;
      margin-left: 8%; } }
  #Image .card #img {
    border-radius: 15px; }
  #Image .card #text {
    color: white;
    text-align: right;
    top: 75%;
    font-size: 1.3em;
    background: #03394993;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
    #Image .card #text p {
      width: 100%;
      margin-top: 0px; }
    @media only screen and (max-width: 992px) and (orientation: landscape) {
      #Image .card #text {
        color: white;
        font-size: 10px;
        top: 70%; } }
    @media only screen and (max-width: 576px) and (orientation: portrait) {
      #Image .card #text {
        color: white;
        font-size: 8px;
        top: 70%; } }

#Image .card:hover {
  box-shadow: 0px 0px 20px black; }

.card:hover {
  box-shadow: 0px 0px 10px black; }

/* pages/home */
.container2 {
  background: rgba(193, 189, 189, 0.421);
  width: 60%;
  height: 280px;
  border-radius: 10px;
  padding-top: 10px;
  margin: -2% 25%; }
  @media only screen and (max-width: 992px) and (orientation: landscape) {
    .container2 {
      height: 300px;
      margin-bottom: 20px;
      font-size: 11px; } }
  .container2 .facebook {
    background: #3467Af;
    color: #ffff;
    width: 40%;
    padding-left: 0%;
    margin-top: 0px; }
  .container2 .iconface {
    color: #ffff !important;
    position: relative;
    left: 25px !important; }
  .container2 .icon {
    color: #1d3342;
    font-size: 1.1em;
    position: relative;
    left: 22px; }
  .container2 .icongo {
    color: rgba(128, 128, 128, 0.637);
    position: relative;
    left: 25px; }
  .container2 .google {
    color: #1d3342;
    background: white;
    width: 40%;
    margin-bottom: 15px; }
  .container2 .input {
    border-radius: 5px;
    padding-left: 28px;
    border: none;
    margin-top: 15px; }

h3, p {
  color: white;
  margin-bottom: 0px; }

button {
  width: 40%;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 0px 1px 2px #5f737a8a;
  padding: 5px;
  background: #ade542;
  color: #264653;
  font-weight: bold; }

button:active {
  box-shadow: 2px 0px 1px 2px #41677ac2;
  transition: 0.2s; }

i {
  color: #264653;
  font-style: normal; }

/* components/table */
.tabla {
  border: none;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px; }
  .tabla thead {
    color: #1d3342 !important;
    border-top: 2px solid #264357; }
  .tabla tbody {
    color: #ade542; }
    .tabla tbody tr:hover {
      box-shadow: 0px 0px 8px 2px #ade542;
      font-size: 1em;
      transition: 0.4s;
      border-radius: 10px;
      position: relative; }
    .tabla tbody tr:active {
      padding: 0px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      transition: 0.1s; }
    .tabla tbody td:nth-last-child(1) #icon {
      font-size: 1.3em; }

/* components/iframe */
.iframe {
  background-color: #fbfdf938;
  border-radius: 20px;
  padding: 15px; }
  .iframe .mapa {
    border-radius: 20px;
    width: 80%; }
